:root{
  --purple-color: #C778DD;
  --gray-color: #ABB2BF;
  --background-color: #282C33;
  --white-color: #FFFFFF;
}

.portifolioContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);

}

.header{
  width: 1024px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerTitle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.headerTitle h1{
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
}
.headerTitle img{
  width: 16px;
  height: 16px;
}

.nav {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.nav p {
 color: var(--gray-color);
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav button {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  border: none;
  width: 34px;
  height: 21px;
  gap: 4px;
}

.nav span {
  color: var(--purple-color);
}