@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root{
  --purple-color: #C778DD;
  --gray-color: #ABB2BF;
  --background-color: #282C33;
  --white-color: #FFFFFF;
}

body{
  background-color: var(--background-color);
  font-family: 'Fira Code', sans-serif;
}

.portifolioContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);

}

/* HEADER */

.header{
  width: 1024px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerTitle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.headerTitle h1{
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
}
.headerTitle img{
  width: 16px;
  height: 16px;
}

.nav {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.nav p {
 color: var(--gray-color);
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav select {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  border: none;
  width: 42px;
  height: 21px;
  gap: 4px;
}

.nav span {
  color: var(--purple-color);
}

.asideMedia{
  width:32px;
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 17px;
}

.line{
  width: 1px;
  height: 191px;
  background-color: var(--gray-color);
}

/* MAIN */

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 62px;
}

.heroDescription{
  width: 537px;
  margin-top: 74px;
}

.heroDescription h2{
  color: var(--white-color);
  font-size: 32px;
  font-weight: 600;
}

.heroDescription span{
  color: var(--purple-color);
}

.heroDescription p{
  color: var(--gray-color);
  font-size: 16px;
}

.heroDescription button{
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--purple-color);
  background-color: var(--background-color);
  width: 148px;
  height: 37px;
}

.heroImage img{
  width: 469px;
  height: 386px;
}

.imageLegend{
  width: 402px;
  height: 37px;
  border: 1px solid var(--gray-color);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 31px;
  margin-top: 0;
}

.imageLegend p{
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
.imageLegend span{
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
}

.square{
  width: 16px;
  height: 16px;
  background-color: var(--purple-color);
  margin-left: 8px;
}

/* FIRST SECTION */

.phrasesContainer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  text-align: right;
  margin-top: 112px;
}

#squarePhrases{
  position: absolute;
  top: 672px;
  right: 0;
}

.phrasesContent{
  position: relative;
}
.phrasesContent p{
  text-align: right;
  color: var(--white-color);
  border: 1px solid var(--gray-color);
  padding: 32px;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.phrasesContent img{
  position: absolute;
  left: 11px;
  top: -10px;
  width: 42px;
  height: 29px;
}

.autorPhrases{
  display: flex;
  justify-content: end;
  position: relative;
}

.autorPhrases p{
  text-align: right;
  color: var(--white-color);
  border: 1px solid var(--gray-color);
  padding: 32px;
  margin: 0;
  font-size: 24px;
}

.autorPhrases img{
  position: absolute;
  width: 42px;
  height: 29px;
  top: -10px;
  right: 16px;
}

/* SECOND SECTION */

.projectContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:48px;
  margin-top: 64px;
}

.projectContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 210px;
}
.projectTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.projectTitle h2{
  color: var(--white-color);
  font-size: 32px;
  font-weight: 500;
}
.projectTitle span{
  color: var(--purple-color);
}

.linePurple{
  width: 511px;
  height: 1px;
  background-color: var(--purple-color);
}

.view{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.view p{
  color: var(--white-color);
  font-size: 16px;
}

.cardContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap:16px;
}

.card{
  border: 1px solid var(--white-color);
  width: 330.58px;
  height: auto;
}

.card img{
  border-bottom: 1px solid var(--white-color);
}
.card h4{
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
  margin: 0;
  margin: 16px 16px auto 16px;
}

.cardTools{
  border-bottom: 1px solid var(--white-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  flex-wrap: wrap;
  line-height: 4px;
  padding-bottom: 4px;
}

.cardTools p{
  font-size: 16px;
  color: var(--gray-color);
}

.cardApps{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
}

.cardApps p{
  font-size: 16px;
  color: var(--gray-color);
}

.cardButtons{
  display: flex;
  gap:16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.cardButtons button:first-child{
  background-color: var(--background-color);
  width: 109px;
  height: 37px;
  border: 1px solid var(--purple-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
}
.cardButtons button{
  background-color: var(--background-color);
  width: 119px;
  height: 37px;
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
  font-weight: 500;
  font-size: 16px;
}
.cardButtons button img{
  border: none;
  padding-left: 8px;
}

#dots{
  position: absolute;
  top: 955px;
  left: 16px
}

#square{
  position: absolute;
  top: 1160px;
  right: 0px;
}

/* TERCEIRA SEÇÃO */

.skillsContainer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin-top: 106px;
}

.skillsTitle{
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}
.skillsTitle h2{
  color: var(--white-color);
  font-size: 32px;
  font-weight: 500;
}
.skillsTitle span{
  color: var(--purple-color);
}

.linePurpleSkills{
  height: 1px;
  background-color: var(--purple-color);
  width: 239px;
}

.skillsContent{
  display: flex;
  gap: 59px;
}
.skillsContent img{
  width: 349px;
  height: 282px;
  margin-left: 32px;
}

.skillsCardsContainer{
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
  justify-content: center;
  gap: 16px;
}

.columCard{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skillsCard{
  width: 178px;
  border: 1px solid var(--gray-color);
}
.skillsCard h5{
  border-bottom: 1px solid var(--gray-color);
  font-weight: 600;
  color: var(--white-color);
  font-size: 16px;
  margin: 0;
  padding: 8px;
}

.skillsTools{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  line-height: 4px;
  padding: 8px 0;
}

.skillsTools p{
  color: var(--gray-color);
  font-size: 15px;
  margin: 0;
  padding: 8px 0px 8px 8px;
}

.columCard:last-child .skillsCard{
  width: 196px;
}